.main {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  .left {
    border-top: 1px black solid;
    width: 40%;
    font-family: "Montserrat";
    .post-container {
      text-align: left;
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      margin-left: 40px;
      .title {
        padding-right: 1em;
        width: 400px;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .detail {
        width: 400px;
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
  .right {
    position: relative;
    flex-grow: 1;
  }
}
.footer {
  margin-top: 200px;
  padding-left: 900px;
  border: 1px black solid;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .container {
    .header {
      background-color: white;
      .link > div {
        margin-left: 20px;
      }
    }
    .news {
      font-size: 20px;
      padding: 10px 20px 10px;
    }
    .main {
      .left {
        width: 100%;
        border-top: none;
        .post-container {
          margin-left: 15px;
          .title {
            font-size: 18px;
          }
          .detail {
            padding-right: 10px;
            max-width: 250px;
            font-size: 14px;
          }
        }
      }
      .right {
        display: none;
      }
    }
    .news {
      border-bottom: 1px black solid !important;
    }
  }
}
