@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");

html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.site-wrapper {
  font-family: "Montserrat";
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  justify-content: space-between;
  min-height: 40px;
}

.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: black;
  color: white;
  margin-left: 70px;
  width: 250px;
  text-decoration: none;
  font-weight: 400;
}

.backlink-ctn {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  flex: 0;
  border-bottom: 1px black solid;
}
.backlink {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.section-title {
  display: flex;
  padding-left: 20px;
  font-size: 50px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 40px 10px;
  border-bottom: 1px black solid;
}

.hoverable {
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  .section-title {
    padding: 10px 20px 10px;
    font-size: 20px;
    border-bottom: 1px black solid;
  }
}
