@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");

// .container {
//   color: black;
//   display: flex;
//   display: -webkit-flex;
//   flex-direction: column;
//   justify-content: space-between;
//   min-height: 100vh;

.main {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;

  .left {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 50%;
    .montserrat {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 100px;
      .hoverable {
        visibility: visible;
      }
    }
    .lato {
      font-family: "Lato";
      font-weight: 300;
      font-size: 90px;
    }
  }

  .leftImage {
    background-image: url("/public/home-left-hover.png");
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .right {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // -webkit-flex-grow: 1;
    width: 50%;
    .montserrat {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 100px;
    }
    .lato {
      font-family: "Lato";
      font-weight: 300;
      font-size: 90px;
    }
  }
  .rightImage {
    background-image: url("/public/home.png");
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}
.home-mobile {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  display: flex;
  -webkit-flex-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;

  .montserrat-mobile {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 100px;
  }
  .lato-mobile {
    font-family: "Lato";
    font-weight: 300;
    font-size: 50px;
  }
}
// }
