@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");

.main {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  position: relative;

  .left {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
  }

  .right {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
  }
}

.justify-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.montserrat-home {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 100px;
}

.lato-home {
  font-family: "Lato";
  font-weight: 300;
  font-size: 90px;
}

.home-mobile {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  display: flex;
  -webkit-flex-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;

  .montserrat-mobile {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 100px;
  }
  .lato-mobile {
    font-family: "Lato";
    font-weight: 300;
    font-size: 50px;
  }
}

.home-mobile {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  display: flex;
  -webkit-flex-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;

  .montserrat-mobile {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 100px;
  }
  .lato-mobile {
    font-family: "Lato";
    font-weight: 300;
    font-size: 50px;
  }
}
