@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");

.main {
  font-family: "Montserrat";
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  .upper-section {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-direction: column;
    flex: 1 1 auto;
    .h1 {
      font-size: 16px;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 40px;
      font-family: "Montserrat";
      font-weight: 100;
      text-transform: uppercase;
      .montserrat {
        margin-right: 0.3em;
        font-size: 8.8em;
        font-family: "Montserrat";
        font-weight: 700;
      }
      .lato {
        font-size: 9.375em;
        font-family: "Lato";
        font-weight: 300;
      }
    }
    .h2 {
      text-align: left;
      margin: 0;
      font-family: "Montserrat";
      font-weight: 100;
      font-size: 2em;
      border-bottom: 1px black solid;
    }
  }
  .section {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: flex-start;
    flex: 2 1 auto;

    .img-container {
      width: 50%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
    .nav-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      .nav-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: black;
        text-decoration: none;
        text-align: left;
        font-size: 1.5em;
        font-family: "Montserrat";
        font-weight: 700;
        margin: 0.1em;
        text-transform: uppercase;
      }
      .nav-item:hover {
        text-decoration: underline;
      }
    }
  }
}
.footer {
  padding-left: 50%;
  height: 40px;
  min-height: 40px;
  .copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-color: black;
    padding-left: 20px;
    font-family: "Montserrat";
    font-weight: 500;
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    flex-grow: 1;
    padding: 0;
    .upper-section {
      display: flex;
      flex-direction: column;
      height: 50%;
      .h1 {
        padding: 1em;

        flex-direction: column;
        margin: 0;
        text-transform: uppercase;
        .montserrat {
          text-align: center;
          align-self: center;
          padding: 0;
          margin: 0;
          line-height: 90px;
          font-size: 90px;
          font-weight: 700;
        }
        .lato {
          font-size: 50px;
          font-family: "Lato";
          font-weight: 300;
        }
      }
      .h2 {
        text-align: left;
        margin: 0;
        font-family: "Montserrat";
        font-weight: 100;
        font-size: 2em;
        border-bottom: 1px black solid;
      }
    }
    .section {
      display: flex;
      justify-content: center;
      padding: 1em;

      .img-container {
        display: none;
      }
      .nav-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
        .nav-item {
          width: 100%;
          text-align: center;
          justify-content: center;
          font-size: 1.2em;
          margin-bottom: 0.5em;
        }
      }
    }
  }
  .footer {
    padding-left: 0;
    height: 40px;
    .copyright {
      justify-content: center;
      align-items: center;
      background-color: black;
      padding-left: 10px;
    }
  }
}
